
/* Your CSS Code here. 

.box {
    width: 300px;
    padding: 50px lightblue;
    background-color: lightblue;
    border: 15px solid blue;
    margin: 20px;
  }
  .box p {
    margin: 0;
    width:300px;
    font-size: 16px;
    text-align: center;
    
  }