
/* Your CSS Code here. 

 div{
    width: 300px;
	text-align: center;
    padding: 50px lightblue;
    background-color: lightblue;
    border: 15px solid blue;
    margin: 20px;
  }
  
    
    
  }